.idea*
*__pycache__*
*.pyc
reward_curriculum_expts/weight*
wandb/*
reward_curriculum_expts/navigation*
trajectories/*
output/*
driving/driving_envs/envs/__pycache__/*
.ipynb_checkpoints/*
experiments/gridworld_continuous/.ipynb_checkpoints/
*.swp
*.swo
*.tar.gz
output/gridworld_continuous/MO*
