absl-py==0.9.0
astor==0.8.1
backcall==0.1.0
certifi==2019.11.28
chardet==3.0.4
click==7.0
cloudpickle==1.2.2
configparser==4.0.2
cycler==0.10.0
decorator==4.4.2
docker-pycreds==0.4.0
driving-envs==0.0.1
future==0.18.2
gast==0.3.3
gitdb2==3.0.2
gitpython==3.0.8
google-pasta==0.1.8
gql==0.2.0
graphql-core==1.1
grpcio==1.27.2
gym==0.16.0
h5py==2.10.0
idna==2.9
ipython-genutils==0.2.0
ipython==7.13.0
jedi==0.16.0
joblib==0.14.1
keras-applications==1.0.8
keras-preprocessing==1.1.0
kiwisolver==1.1.0
markdown==3.2.1
matplotlib==3.1.3
numpy==1.18.1
nvidia-ml-py3==7.352.0
opencv-python==4.2.0.32
pandas==1.0.1
parso==0.6.2
pathtools==0.1.2
pexpect==4.8.0
pickleshare==0.7.5
pillow==7.0.0
pip==20.0.2
promise==2.3
prompt-toolkit==3.0.4
protobuf==3.11.3
psutil==5.7.0
ptyprocess==0.6.0
pyglet==1.5.0
pygments==2.6.1
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
pyyaml==5.3
requests==2.23.0
scipy==1.4.1
sentry-sdk==0.14.1
setuptools==45.2.0.post20200210
shortuuid==0.5.0
six==1.14.0
smmap2==2.0.5
stable-baselines==2.9.0
subprocess32==3.5.4
tensorboard==1.14.0
tensorflow-estimator==1.14.0
tensorflow==1.14.0
termcolor==1.1.0
traitlets==4.3.3
urllib3==1.25.8
wandb==0.8.27
watchdog==0.10.2
wcwidth==0.1.9
werkzeug==1.0.0
wheel==0.34.2
wrapt==1.12.0